<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hotel Employee System</title>
    <link th:href="@{/main.css}" rel="stylesheet" />
</head>
<body class="bg-base-200 min-h-screen flex items-center justify-center">

<div class="text-center space-y-6">
    <h1 class="text-4xl font-bold text-primary">Hotel Maloca</h1>
    <p class="text-lg text-base-content">Acesso restrito aos funcionários</p>

    <a th:href="@{/login}" class="btn btn-primary px-6">Login</a>
</div>

</body>
</html>
